.title {
  margin-top: 15%;
  font-size: 40px;
}

.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 15%;
}

.itemCenter {
  width: 65%;
}

.itemRight {
  width: 20%;
}

.navbar {
  background: rgb(22,22,22);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}
